.problem-card{
  padding: 1em;
  .description{
    text-align: center;
  }
}

//片剂的布局 tablet style overwrites
@media only screen and (min-width: 715px){
  .problem-card{
    padding: 1em 4em;
  }
}
